@import "tailwindcss";

/* Tema chiaro di default */
body {
  background: white;
  color: black;
  transition: background 0.3s, color 0.3s;
}

/* Tema scuro */
.dark body {
  background: rgba(0, 0, 0, 0.854);
  color: white;
}

.dark li {
  background: gray;
  color: white;
}

.dark .link-home,
.dark .link-decklist,
.dark .link-banlist,
.dark .link-about {
  background: transparent;
  color: white;
}

.rainbow-text {
  /* Gradient colorato */
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #ff00ff,
    #ff0000
  );

  /* Dimensione gradient rispetto al testo */

  background-size: 200% 200%;

  /* Testo trasparente per mostrare gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  /* Animazione gradient */
  animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
